.carroVacio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerrr{
    width: 90%;
    margin: 0.5rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: solid 1px fuchsia;
}

.containerrr img {
    width: 100px;
}

@media(max-width:469px){
    .containerrr{
        width: 95%;
        flex-direction: column;
    }
    
}