.carroVacio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerrr{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: solid 1px fuchsia;
}

.containerrr img {
    width: 100px;
}