.containerDetail{
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    /* border: 2px solid black; */
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.containerDetail img{
width: 100%;
 max-width: 700px;
 max-height: 700px;
}

.infoDetail {
    text-align: center;
    color: white;
    max-width: 450px;
}

.Detail {
    height: auto;
    background-color: rgba(0, 0, 0, 0.95);
    border: 2px fuchsia solid;
    padding: 2rem;
    margin: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_precioDetail {
    letter-spacing: 4px;
    margin: 1rem;
    font-size: 20px;
    font-weight: 600;
    background-color: fuchsia;
    color:white;
    padding: 10px;
    border-radius: 10px;
}

.btnComprar {
    width: 300px;
}

@media(max-width:469px){
    .infoDetail {
        text-align: center;
        color: white;
        max-width: 300px;
    }
    .btnComprar {
        width: 250px;
    }
}