.cont_productos {
    flex: 1 1 200px;
    width: 270px;
    margin: 1px;
    padding: 1.5rem 1.5rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 2px solid rgba(20, 25, 95, 0.9);
    border-radius: 10px;
    transition: all 0.7s;
}

.cont_productos:hover {
    transform: translateY(-5px) scale(1.05);
    border: solid #DC2ADE 2px;
}

.cont_productos .card {
    height: 40px;
    width: 100%;
    margin-bottom: 170px;
}

.cont_productos .card img {
    margin: auto;
    display: block;
    height: 190px;
    width: 190px;
}

.cont_productos .info {
    height: 70px;
    width: 90%;
    margin: 0 auto;
    border-bottom: solid 1px blue;
    border-top: solid 1px blue;
}

.cont_productos .info h2 {
    font-size: 0.99em;
    text-align: center;
    margin-bottom: 0.3em;
    margin-top: 0.3rem;
}

.cont_productos .info p {
    text-align: center;
    font-size: .9em;
    color: #555;
}

.cont_productos .precio {
    height: 50px;
    width: 87%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont_productos .precio .box_precio {
    width: 80px;
}