.footer{
    background-color: rgba(20, 25, 95, 0.99);
    border: 1px solid fuchsia;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer p{
    color: white;
  }