.footer{
    background-color: rgba(20, 25, 95, 0.99);
    border: 1px solid fuchsia;
    /* padding: 1rem; */
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer p{
    color: white;
  }

  @media(max-width:469px){
    .footer{
      flex-direction: column;
    }
    .footer p{
      max-width: 300px;
      text-align: center;
    }
}
