.contador{
    width: 250px;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px;
  }

  .num{
    padding: 10px;
  }

  .btnSumar{
    margin-right: 10px;
  }