.botonCarro{
    padding: 5px;
    margin: 2rem;
    border-radius: 15px;
    background-color: green;
    color: white;
    border: none;
  }

  .dropDown li {
    color: fuchsia;
  }

  .navBar li {
    color: fuchsia;
    font-size: 14px;
    font-weight: 600;
    padding: 0.5rem;
  }

  .navBar a{
    color: fuchsia;
  }