.botonCarro{
    padding: 7px;
    margin: 2rem;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: none;
  }

  .dropDown li {
    color: fuchsia;
  }

  .navBar li {
    color: fuchsia;
    font-size: 16px;
    font-weight: 600;
    padding: 0.3rem;
  }

  .navBar a{
    color: fuchsia;
  }

  .navbar{
    background-color: rgba(20, 25, 95, 0.03);
    border-top:  1px solid fuchsia;
    border-bottom:  1px solid fuchsia;
  }

